$color-coffee: #7a6958;
$color-muesli: #AC8762;
$color-twine: #C39E6B;
$color-gray: #8F8F8F;
$color-mako: #42434A;
$color-scarpa-flow: #5B5A5F;
$color-raw-sienna: #D59744;
$color-equator: #E3AA5E; 
$color-black: #000;
$color-patina: #659999;
$color-ecstasy: #F4791F;
$color-limed-spruce: #334D50;
$color-thistle-green: #CBCAA5;
$color-aqua: #43ECFF;
$color-armadillo: #3E3E39;
$color-jazzberry-jam: #B5104B;
$color-kabul: #5F4F40;
$color-mondo: #4F4235;
$color-hampton: #E5CDAC;
$color-ivory: #FFFFED;
$color-alto: #D9D9D9;
$color-pearl-bush: #E2D8CE;
$color-bone: #E4D2BF;
$color-white: #fff;
$color-coffee-light: #746352;  
//
$font-weight-bold: 700;
$font-weight-medium: 500;
$font-weight-light: 300;
//
// 40px
// 15px
// 14px
// 13px
// 18px
// 16px
// 32px
// 11px
// #