@mixin contactLabel {
    color: #4F4235;
    font-size: 14px;
    font-style: normal;
    font-weight: $font-weight-light;
    line-height: normal;
    margin-bottom: 12px;
}

@mixin contactInput {
    width: 100%;
    height: 56px;
    border: 1px solid #4F4235;
    background: #FFF;

    font-size: 20px;
    font-weight: $font-weight-medium;
    color: #4F4235;
    padding-left: 16px
}

@mixin contactTextContent($fontSize, $fontWeight) {
    color: #4F4235;
    font-style: normal;
    font-size: $fontSize;
    font-weight: $fontWeight;
    line-height: 107.2%; /* 25.247px */
}

.contact-label {
    @include contactLabel();
}

.contact-input {
    @include contactInput();
}

.Contact-wrapper {
    padding-right: 126px;
    padding-left: 126px;
    

    .content-wrapper {
        display: grid;
        grid-template-columns: 1.52fr 1fr;
        gap: 54px;
    }

    &-heading {
        color: #4F4235;
        font-size: 49.655px;
        font-style: normal;
        font-weight: $font-weight-light;
        line-height: normal;
    }
}

.Contact-us {

    &-heading {
        @include contactTextContent(23.551px, $font-weight-medium);
    }

    &-sub-heading {
        @include contactTextContent(16.305px, $font-weight-light);
    }

    .faq {
        color: #4F4235;
        text-align: center;
        font-size: 15px;
        font-style: normal;
        font-weight: $font-weight-light;
        line-height: normal;

        a {
            color: #4F4235;
            font-family: Cera Pro;
            font-size: 15px;
            font-style: normal;
            font-weight: $font-weight-medium;
            line-height: normal;
            text-decoration-line: underline !important;
        }

       
    }

    #attach-file {
        color: #68594B;
        font-size: 15.624px;
        font-style: normal;
        font-weight: $font-weight-medium;
        line-height: 107.2%; /* 16.749px */
    }

    #file-not-attached {
        color: #4F4235;
        text-align: center;
        font-size: 13.464px;
        font-style: normal;
        font-weight: $font-weight-light;
        line-height: 0%; /* 0px */
    }
 
}

.contact-send-button {
    display: flex;
    width: 181px;
    height: 54px;
    padding: 21.587px 9.812px 21.587px 21.587px;
    justify-content: center;
    align-items: center;
    gap: 19.236px;
    background: #4F4235;
    border: none;

    color: $color-white;
    font-size: 19.625px;
    font-style: normal;
    font-weight: $font-weight-medium;
    line-height: 228.7%; /* 44.882px */
    transition: opacity .4s;

    &:hover {
        opacity: .9;
    }
}

.custom-file-upload {
    width: 176px;
    height: 54px;
    border: 0.931px solid #4F4235;
    position: relative;

    input {
        width: 100%;
        height: 100%;
        opacity: 0;
        cursor: pointer;
    }
}



.Factory-sales-office {

    background: $color-white;
    height: 495px;
    border: 1px solid rgba(122, 105, 88, 0.30);
    padding: 70px 36px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &-heading {
        @include contactTextContent(23.551px, $font-weight-medium)
    }

    &-company {
        @include contactTextContent(15.147px, $font-weight-medium);
    }

    &-address {
        @include contactTextContent(15.147px, $font-weight-light);
    }

    .contact-number {
        color: #4F4235;
        font-size: 24.408px;
        font-style: normal;
        font-weight: $font-weight-medium;
        line-height: 107.2%; /* 26.165px */
        margin-top: -6px;
        margin-bottom: -6px;
        
    }
    
    a {
        color: #4F4235;
        font-size: 15.147px;
        font-style: normal;
        font-weight: $font-weight-medium;
        line-height: 107.2%; /* 16.238px */
    }
   
    &-divider {
        background: rgba(79, 66, 53, 0.20);
        height: 1px;
        width: 100%;
    }
}

.Customer-service {
    height: 299px;
    border: 1px solid rgba(122, 105, 88, 0.30);
    padding: 47px 36px 58px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &-heading {
        @include contactTextContent(23.551px, $font-weight-medium);
        position: relative;
        bottom: 10px
    }

    &-datetime {
        @include contactTextContent(15.147px, $font-weight-medium);
    }

    &-explanation {
        @include contactTextContent(15.147px, $font-weight-light);
    }
}